.aivsman-switch-content {
	position: relative;
	--position: 100%;
}

.aivsman-switch-content__container {
	position: relative;
}

.aivsman-switch-content-common {
	width: 100%;
	height: 100%;
}

.aivsman-switch-content-before {
	position: absolute;
	z-index: 9;
	inset: 0;
	width: var(--position);
	background-color: #1A1A1A;
	overflow: clip;
	display: flex;
	flex-direction: column;
	@media (max-width: 768px){
		z-index: 99;
		transition: all 0.3s ease 0s;
	}
	&.js-active {
		width: 0;
	}
	.aivsman-switch-content-general-inner {
		flex: 1 1 100%;
		width: 1520px;
		@media (max-width: 1920px){
			width: 79.17vw;
		}
		@media (max-width: 768px){
			width: calc(100vw - (2.63vw * 2));
		}
	}
}
.aivsman-switch-content-after {
	background-color: #1A1A1A;
}

.aivsman-switcher {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 14;
	transition: all 0.7s ease 0s;
	&.js-active {
		transform: translate(0, -25%);
	}
	@media (max-width: 768px){
		display: none;
	}
}
.aivsman-switcher-content {
	cursor: pointer;
	opacity: 0;
	width: calc(100% + 60px);
	height: 120px;
	z-index: 11;
	margin-left: -30px;
	transform: translate(0, 50%);
	@media (max-width: 1920px){
		width: calc(100% + 3.13vw);
		height: 6.25vw;
		margin-left: -1.56vw;
		transform: translate(0, 50%);
	}
}

.aivsman-switcher-content-line {
	position: absolute;
	z-index: 10;
	top: 0;
	width: 1px;
	height: 100%;
	background-color: #D9D9D9;
	left: var(--position);
	pointer-events: none;
	@media (max-width: 1920px){
		width: 0.05vw;
	}
	&-wrapper {
		height: 0;
	}
	@media (max-width: 768px){
		display: none;
		left: 100%;
		transition: all 0.3s ease 0s;
		&.js-active {
			left: 0;
		}
	}
}

.aivsman-switcher-content-button {
	position: static;
	z-index: 999;
	top: 8%;
	background: url('../images/switcher-icon.svg') 0 0 / 100% 100% no-repeat;
	display: grid;
	place-items: center;
	margin-left: var(--position);
	transform: translate(-50%, -45%);
	pointer-events: none;
	width: 120px;
	height: 120px;
	@media (max-width: 1920px){
		width: 6.25vw;
		height: 6.25vw;
	}

}




.aivsman {
	overflow: clip;
	position: relative;
	&__btn-up {
		width: 80px;
		height: 80px;
		border-radius: 80px;
		background: url('../images/aivsman/Ellipse.svg') 0 0 / 100% 100% no-repeat;
		color: #FFF;
		text-align: center;
		font-family: Fira Sans;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 108.5%; 
		letter-spacing: 0.32px;
		text-transform: uppercase;
		transform: translate(865px, 85vh);
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		@media (max-width: 1920px){
			width: 4.17vw;
			height: 4.17vw;
			border-radius: 4.17vw;
			font-size: 0.83vw;
			letter-spacing: 0.02vw;
			transform: translate(45.05vw, 85vh);
		}
		@media (max-width: 768px){
			display: none;
		}
		&-wrapper {
			position: sticky;
			z-index: 99;
			top: 0;
			height: 0;
			display: flex;
			justify-content: center;
		}
	}
}
.aivsman-switch-content {
	width: 1520px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
	@media (max-width: 1920px){
		width: 79.17vw;
	}
	@media (max-width: 768px){
		width: calc(100vw - (2.63vw * 2));
	}
	&__container {
		@media (max-width: 768px){
			margin-top: 0!important;
		}
	}
}






.aivsman-body {

	&__running-line {
		position: absolute;
		z-index: 12;
		left: 50%;
		transform: translate(-50%, 0);
		width: 1920px;
		max-width: 100%;
		background-color: #1A1A1A;
		&::before, &::after{
			content:'';
			position: absolute;
			left: 50%;
			width: 100vw;
			height: 1px;
			transform: translate(-50%, 0);
			background-color: #737373;
			@media(max-width: 1920px) {
				height: 0.05vw;
			}
			@media(max-width: 768px) {
				height: 0.26vw;
			}
		}
		&::before{
			top: 0;
		}
		&::after{
			bottom: 0;
		}
	}
	/* &__running-line2 {
		transform: translate(-50%, 100%);
	}
	&__running-line3 {
		transform: translate(-50%, 200%);
	} */


	&__title {
		&-main {
			display: flex;
			justify-content: center;
			align-items: center;
			position: sticky;
			z-index: 2;
			top: 0;
			min-height: 259px;
			background: url('../images/aivsman/lines-title.svg') -25px -5px / calc(100% + 50px) calc(100% + 10px) no-repeat;
			color: var(--white, #FFF);
			text-align: center;
			leading-trim: both;
			text-edge: cap;
			font-family: Miratrix;
			font-size: 50px;
			font-style: normal;
			font-weight: 400;
			line-height: 111%;
			text-transform: uppercase;
			border: 1px solid #737373;
			border-top: none;
			background-color: #1A1A1A;
			transition: all 0.7s ease 0s;
			@media (max-width: 1920px){
				min-height: 13.49vw;
				background: url('../images/aivsman/lines-title.svg') -1.30vw -0.26vw / calc(100% + 2.60vw) calc(100% + 0.52vw) no-repeat;
				background-color: #1A1A1A;
				font-size: 2.60vw;
				border: 0.05vw solid #737373;
			}

			&.js-active {
				background: #1A1A1A;
				transform: translate(0, -114px);
				@media (max-width: 1920px){
					transform: translate(0, -5.94vw);
				}
				@media (max-width: 768px){
					transform: translate(0, 0);
				}
				.aivsman-body__title-main-inner {
					transform: translate(0, 57px);
					@media (max-width: 1920px){
						transform: translate(0, 2.97vw);
					}
					@media (max-width: 768px){
						transform: translate(0, 0);
					}
				}
			}

			&-inner {
				transition: all 0.7s ease 0s;
				position: sticky;
				z-index: 2;
				top: 0;
				width: 525px;
				height: 145px;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				border: 0.5px solid #737373;
				@media (max-width: 1920px){
					width: 27.34vw;
					height: 7.55vw;
				}
				@media (max-width: 768px){
					width: 100%;
					height: auto;
					position: static;
					display: flex;
					justify-content: space-between;
					align-items: center;
					text-align: left;
					border: none;
				}
			}
			&-span-wrap {
				display: none;
			}
			@media (max-width: 768px){
				justify-content: space-between;
				min-height: 30vw;
				background: none;
				background-color: #1A1A1A;
				border: 0.26vw solid #737373;
				padding: 0 2.63vw;
				font-size: 6.32vw;
				text-align: left;
				z-index: 15;
				top: 0;
				&-span-wrap {
					text-transform: lowercase!important;
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					margin-top: -5.26vw;
					color: var(--white, #FFF);
					text-align: right;
					font-family: Fira Sans;
					font-size: 3.16vw;
					font-style: normal;
					font-weight: 400;
					line-height: 165.813%; /* 19.898px */
					letter-spacing: 0.18vw;
				}
				&-span {
					margin-top: 0.53vw;
					display: block;
					width: 13.42vw;
					height: 8.16vw;
					border-radius: 6.58vw;
					background-color: rgba(120, 120, 128, 0.50);
					position: relative;
					&::before{
						transition: all 0.3s ease 0s;
						content:'';
						position: absolute;
						top: 0;
						left: -5%;
						width: 65%;
						height: 120%;
						background: url('../images/aivsman/man-switcher.svg') 0 0 / 100% 100% no-repeat;
					}
					&.js-active {
						&::before{
							left: 105%;
							transform: translate(-100%, 0);
							background: url('../images/aivsman/ai-switcher.svg') 0 0 / 100% 100% no-repeat;
						}
					}
				}
			}
		}
	}
	&__sec {
		display: flex;
		.container-inner {
			display: flex;
			flex-direction: column;
			padding: 0 110px;
			min-height: 100%;
			@media (max-width: 1920px){
				padding: 0 5.73vw; 
			}
			@media (max-width: 768px){
				padding: 0 2.63vw; 

			}
			.myrow {
				min-height: 100%;
				flex: 1 1 100%;
				@media (max-width: 768px){
					min-height: 0%;
					flex-direction: column;
					.aivsman-body__sec-body {
						flex: 1 1 auto;
					}
				}
			}
			.single-image {
				display: flex;
				justify-content: center;
				margin-bottom: 100px;
				@media (max-width: 1920px){
					margin-bottom: 5.21vw;
				}
				@media (max-width: 768px){
					margin-bottom: 7.89vw;
				}
				img {
					width: 760px;
					height: 345px;
					@media (max-width: 1920px){
						width: 39.58vw;
						height: 17.97vw;
					}
					@media (max-width: 768px){
						width: 100%;
						height: 42.89vw;
					}
				}
			}
			.myimage {
				position: relative;
				width: 100%;
				min-height: 100%;
				@media (max-width: 768px){
					min-height: 0;
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
				}
				img {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					max-width: 100%;
					max-height: 100%;
					@media (max-width: 768px){
						position: static;
						transform: translate(0, 0);
						width: 100%!important;
						height: auto!important;
						max-height: 92.11vw;
					}
				}
			}
		}
		
		&-body {
			padding: 150px 0 40px;
			@media(max-width: 1920px) {
				padding: 7.81vw 0 2vw;
			}
			@media(max-width: 768px) {
				padding: 7.89vw 0;
				order: -1;
			}
		}
		position: relative;
		&::before{
			content:'';
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 100vw;
			height: 1px;
			transform: translate(-50%, 0);
			background-color: #737373;
			@media(max-width: 1920px) {
				height: 0.05vw;
			}
		}
	}
	&__sec1 {
		.container-inner {
			min-height: 570px;
			padding: 0 260px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			@media(max-width: 1920px) {
				min-height: 29.69vw;
				padding: 0 13.54vw;
			}
			@media(max-width: 768px) {
				min-height: 180.95vw;
				padding: 3vw 2.63vw;
			}
		}
	}
	&__sec2 {
		.container-inner {
			min-height: 850px;
			@media(max-width: 1920px) {
				min-height: 44.27vw;
			}
			@media(max-width: 768px) {
				min-height: 290.53vw;
			}
			.myimage {

				img {
					width: 605px;
					height: 739px;
					@media(max-width: 1920px) {
						width: 31.51vw;
						height: 38.49vw;
					}
					@media(max-width: 768px) {
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
	&__sec3 {
		.container-inner {
			min-height: 805px;
			@media(max-width: 1920px) {
				min-height: 41.93vw;
			}
			@media (max-width: 768px){
				min-height: 290.26vw;
			}
			.myimage {

				img {
					width: 454px;
					height: 609px;
					@media(max-width: 1920px) {
						width: 23.65vw;
						height: 31.72vw;
					}
				}
			}

		}
	}
	&__sec4 {
		.container-inner {
			padding: 0 110px 0;

			min-height: 940px;
			@media(max-width: 1920px) {
				padding: 0 5.73vw;
	
				min-height: 48.96vw;
			}
			@media(max-width: 768px) {
				padding: 0 2.63vw;
	
				min-height: 250vw;
			}
			.myrow {
				column-gap: 50px;
				@media(max-width: 1920px) {
					column-gap: 2.60vw;
				}
				@media(max-width: 768px) {
					column-gap: 0;
				}
			}
		}
	}
	&__sec5 {
		.container-inner {
			min-height: 930px;
			@media(max-width: 1920px) {
				min-height: 48.44vw;
			}
			@media(max-width: 768px) {
				min-height: 320.74vw;
			}
			.myimage {

				img {
					width: 644px;
					height: 773px;
					@media(max-width: 1920px) {
						width: 33.54vw;
						height: 40.26vw;
					}
				}
			}
		}
	}
	&__sec6 {
		.container-inner {
			min-height: 1030px;
			padding: 0 110px 0;
			@media(max-width: 1920px) {
				min-height: 53.65vw;
				padding: 0 5.73vw 0;
			}
			@media(max-width: 768px) {
				min-height: 260vw;
				padding: 0 2.63vw;
			}
			.myrow {
				column-gap: 2.60vw;
				@media(max-width: 1920px) {
					column-gap: 2.60vw;
				}
				@media(max-width: 768px) {
					column-gap: 0;
				}
			}
		}
		
	}
	&__sec7 {
		.container-inner {
			min-height: 845px;
			@media(max-width: 1920px) {
				min-height: 44.01vw;
			}
			@media(max-width: 768px) {
				min-height: 290.11vw;
			}
			.myimage {

				img {
					width: 536px;
					height: 604px;
					@media(max-width: 1920px) {
						width: 27.92vw;
						height: 31.46vw;
					}
				}
			}
		}
		
	}
	&__sec8 {
		.container-inner {
			min-height: 845px;
			@media(max-width: 1920px) {
				min-height: 44.01vw;
			}
			@media(max-width: 768px) {
				min-height: 270.42vw;
			}
			.myimage {

				img {
					width: 650px;
					height: 780px;
					@media(max-width: 1920px) {
						width: 33.85vw;
						height: 40.63vw;
					}
				}
			}
		}
	}
	&__sec11 {
		.container-inner {
			min-height: 570px;
			padding: 0 260px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			@media(max-width: 1920px) {
				min-height: 29.69vw;
				padding: 0 13.54vw;
			}
			@media(max-width: 768px) {
				min-height: 180.95vw;
				padding: 3vw 2.63vw;
			}
		}
	}
	&__sec22 {
		.container-inner {
			min-height: 850px;
			@media (max-width: 1920px){
				min-height: 44.27vw;
			}
			@media(max-width: 768px) {
				min-height: 290.53vw;
			}
			.myimage {

				img {
					width: 675px;
					height: 739px;
					@media(max-width: 1920px) {
						width: 35.16vw;
						height: 38.49vw;

					}
				}
			}
		}
	}
	&__sec33 {
		.container-inner {
			min-height: 805px;
			@media(max-width: 1920px) {
				min-height: 41.93vw;

			}
			@media (max-width: 768px){
				min-height: 290.26vw;
			}
			.myimage {

				img {
					width: 475px;
					height: 631px;
					@media(max-width: 1920px) {
						width: 24.74vw;
						height: 32.86vw;

					}
				}
			}
		}
	}
	&__sec44 {
		.container-inner {
			padding: 0 110px 0;

			min-height: 940px;
			@media(max-width: 1920px) {
				padding: 0 5.73vw 0;
	
				min-height: 48.96vw;
			}
			@media(max-width: 768px) {
				padding: 0 2.63vw;
	
				min-height: 250vw;
			}
			.myrow {
				column-gap: 50px;
				@media(max-width: 1920px) {
					column-gap: 2.60vw;
				}
				@media(max-width: 768px) {
					column-gap: 0;
				}
			}
		}
	}
	&__sec55 {
		.container-inner {
			min-height: 930px;
			@media(max-width: 1920px) {
				min-height: 48.44vw;
			}
			@media(max-width: 768px) {
				min-height: 320.74vw;
			}
			.myimage {

				img {
					width: 584px;
					height: 734px;
					@media(max-width: 1920px) {
						width: 30.42vw;
						height: 38.23vw;
					}
				}
			}
		}
	}
	&__sec66 {
		.container-inner {
			padding: 0 110px 0;

			min-height: 1030px;
			@media(max-width: 1920px) {
				padding: 0 5.73vw 0;
	
				min-height: 53.65vw;
			}
			@media(max-width: 768px) {
				min-height: 260vw;
				padding: 0 2.63vw;
			}
			.myrow {
				column-gap: 50px;
				@media(max-width: 1920px) {
					column-gap: 2.60vw;
				}
				@media(max-width: 768px) {
					column-gap: 0;
				}
			}
		}
		
	}
	&__sec77 {
		.container-inner {
			min-height: 845px;
			@media(max-width: 1920px) {
				min-height: 44.01vw;
			}
			@media(max-width: 768px) {
				min-height: 290.11vw;
			}
			.myimage {

				img {
					width: 536px;
					height: 604px;
					@media(max-width: 1920px) {
						width: 27.92vw;
						height: 31.46vw;
					}
				}
			}
		}
		
	}
	&__sec88 {
		.container-inner {
			min-height: 845px;
			@media(max-width: 1920px) {
				min-height: 44.01vw;
			}
			@media(max-width: 768px) {
				min-height: 270.42vw;
			}
			.myimage {


				img {
					width: 650px;
					height: 780px;
					@media(max-width: 1920px) {
						width: 33.85vw;
						height: 40.63vw;
					}
				}
			}
		}
		
	}








	&__sec2-body {
	}
	&__subtitle {
		text-align: left;
		margin-bottom: 60px;
		@media (max-width: 1920px){
			margin-bottom: 3.13vw;
		}
	}
	&__text {
	}
	&__sec2-image {
	}
}


.aivsman-body__sec {
}
.aivsman-body__sec2 {
}
.myrow {
	display: flex;
	@media (max-width: 768px){
		flex-direction: column;
	}
}
.mycol-6 {
	flex: 0 1 50%;
	@media (max-width: 768px){
		flex: 1 1 auto;
	}
}
.myimage {
	flex: 0 1 50%;
	@media (max-width: 768px){
		flex: 1 1 auto;
	}
}